*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2E3840;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 600px;
    margin: auto;   
}

button {
    background: black;
    cursor: pointer;
    padding: 16px 32px;
    margin: 1px;
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    position: relative;
    border-radius: 8px;
    width: 200px;
    height: 200px;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #FF1E1E, #3330E4, #FB2576, #00D7FF, #FF1E1E, #3330E4, #FB2576, #00D7FF);
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.reset{
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    width: 120px;
    height: 30px;
    margin: 10px 20px 10px 100px;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.swal2-styled.swal2-confirm{
    width: 60px;
    height: 50px;
}
